/*.sidenav{
  height: 100vh;
}*/

.main {
  display: inline-block;
  margin-left: 400px;
  margin-right: 50px;
}

.my-orgs {
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
