body {
  padding-top: 70px;
}
.navbar.navbar-inverse {
  border: none;
}
.navbar .navbar-brand {
  padding-top: 0px;
}
.navbar .navbar-brand img {
  height: 50px;
}

.navbar-brand {
  font-size: 35px;
  color: #a5ffdd;
}

.navbar-dark .navbar-nav .nav-link {
  color: #17a2b8;
}

.form-control {
  height: 2rem;
  border-radius: 0.25rem;
}
