.signup-bg {
  background: url("https://images.unsplash.com/photo-1577209299418-485f60c0d4de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1263&q=80")
    no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  height: 100vh; /*solution to my background troubles!*/
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
