.nav-mobile {
    display: none;
}

.nav-container {
    box-shadow: 0px 2px 5px #CCCCCC;
    color: #54524d;
}

.nav {
    display: flex; /*flex-box*/
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    /**background-color: #7bb6a0;**/
}

.nav div {
    padding: 0.5em 0.7em 0.5em 0.7em;
}

input[type=text] {
    border-radius: 20px;
    height: 2em;
}

FontAwesomeIcon{
    margin-right: 5px;
}

/**
/*hide hamburger icon in big screens
#hamburger {
    display: none;
}

/*hide input check box
toggle {
    display: none;
}

#search {
    display: none;
}

.menu {
    display: none;
}
**/

@media only screen and (max-width: 500px) {
    .nav-mobile {
        display: block;
    }

    #nav-desktop {
        display: none;
    }
    /*#hamburger {
        display: block;
        cursor: pointer;
        margin-left: 15px;
    }
    #search {
        display: block;
    }
    .right-nav {
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 0;
    }
    input[type=text] {
        display: none;
    }
    .nav li {

    }
    .right-nav li {
        display: none;
        border-top: 1px solid #CCCCCC;
    }
    #toggle:checked + label {
        display: block;
    }
    */
}